<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>iMac</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>iMac Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Mac Pro</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Mac Pro Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Macbook</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Macbook Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Macbook Air</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Macbook Air Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Macbook Pro</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Macbook Pro Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Asus</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>ROG GL752VW</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>N550JK</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>M32AD</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>ROG G20BM</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Dell</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>All-In-One Inspiron 3000</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>All-In-One Inspiron 5000</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>All-In-One Inspiron 7000</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>XPS 12</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>XPS 13</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>XPS 15</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>XPS 8900</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>XPS 27</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>HP</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Envy Notebook Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Omen Notebook Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Pavillion Gaming Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Envy 750 XT Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Envy 850 SE Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Lenovo</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Thinkstation P900 Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Thinkstation P700 Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Thinkstation P500 Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>T460 Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>E560 Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Toshiba</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Satellite Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Radius Series</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
